/* 
PRIMARY COLORS:
    - Red: hsl(0, 78%, 62%)
    - Cyan: hsl(180, 62%, 55%)
    - Orange: hsl(34, 97%, 64%)
    - Blue: hsl(212, 86%, 64%) 

NEUTRAL COLORS:
    - Very Dark Blue: hsl(234, 12%, 34%)
    - Grayish Blue: hsl(229, 6%, 66%)
    - Very Light Gray: hsl(0, 0%, 98%)

FONTS:
    - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
    - Weights: 200, 400, 600

MEDIA QUERIES 
    - Mobile: 375px
    - Desktop: 1440px

BASE FONT SIZE:
    - 15px
*/

body {
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
    font-size: 15px;
    color: hsl(234, 12%, 34%);
}

main {
    margin-top: -30px;
}

.main-title h1 {
    font-size: 2.2rem;
    word-spacing: 0.4rem;
}

header {
    max-width: 505px;
    margin: 6rem auto;
    text-align: center;
}

.first-title {
    font-weight: lighter;
    margin-bottom: 1rem;
}

.second-title {
    font-weight: bold;
    margin-bottom: 1.6rem;
}

p {
    color: hsl(229, 6%, 66%);
    line-height: 1.5rem;
}

.main-wrapper {
    max-width: 1110px;
    margin: 0 auto;
    /* background-color: #eee; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-wrapper {
    max-width: 350px;
}

.middle {
    display: flex;
    flex-direction: column;
}

.card {
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 2rem;
    background: #fff;
    box-shadow: 0px 15px 20px rgba(189, 203, 219, 0.5);
}

.card h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.card p {
    margin: 1.5rem 0;
    font-size: 0.8rem;
    margin-top: 15px;
}

.img-container {
    width: 100%;
    text-align: right;
}

.supervisor {
    border-top: solid 4px hsl(180, 62%, 55%);
}

.team-builder {
    border-top: solid 4px hsl(0, 78%, 62%);
}

.karma {
    border-top: solid 4px hsl(34, 97%, 64%);
}

.calculator {
    border-top: solid 4px hsl(212, 86%, 64%);
}

@media (max-width: 1070px) {
    .main-wrapper {
        flex-direction: column;
    }
    .card-wrapper {
        min-width: 505px;
    }
}

@media (max-width: 375px) {
    header {
        width: 310px;
    }

    .main-wrapper {
        text-align: center;
        flex-direction: column;
    }

    .main-title h1 {
        font-size: 1.45rem;
    }

    .card-wrapper {
        min-width: 310px;
    }

    .card {
        margin-bottom: 25px;
        text-align: initial;
        width: 250px;
    }

    .img-container img {
        width: 57px;
    }
}
